.listContainer {
    margin-bottom: 10px;
}

.itemContainer{
    position: relative;;
    border: 1px solid black;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    transition:  transform 0.3 ease;
}

.itemContainer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.property {
    margin-left: 10px;
}

.itemContainer:hover::before {
    opacity: 1;
}

.confirmBtn{
    border: none;
}

.confirmImg{
    width: 200px;
    height: 100px;
}