.wrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagesWrapper{
    display: flex;
    gap: 100px;
}

.imageWrapper{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.imageWrapper::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border: 0.5px rgba(0, 0, 0, 0.3) solid ;
    border-radius: 40px;
    opacity: 0;
    transition: opacity 0.3s ease;
}



.imageWrapper:hover::before {
    opacity: 1;
}

.imageWrapper:hover{
    transform: translateY(10px);
}

.mainTitle{
    margin-bottom: 20px;
}

.subTitle {
    margin-top: 10px;
}

.table {
    width: 300px;
    height: 300px;
    padding: 10px;
}
.cabinet {
    width: 300px;
    height: 300px;
    padding: 10px;
}
.cupboard{
    width: 300px;
    height: 300px;
    padding: 10px;
}