.agreementContainer {
    max-height: 400px;
    overflow-y: auto;
}
.agreementWrapper {
    margin: 10px 0 10px 0;
    padding: 5px;
    border: 1px solid black;
}

.modelsWrapper {
    display: flex;
}

.modelsContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.models {
    margin: 10px 0 10px 0;
    padding: 5px;
    
}

.deleteBtn {
    margin-left: 5px;
    background-color: white;
    border: none;
}

.deleteIcon {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}


.deleteIcon:hover {
    transform: translateY(10px);
}

.salesContainer {
    max-height: 400px;
    overflow-y: auto;
}

