.NavWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.NavLogo{
    width: 200px;
    height: 200px;
}

.LogoBtn{
    border: none;
}


.NavLogos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.basketBtn{
    border: 0;
    background-color: #fff;
}


.basket {
    transition: 0.2s ease;
}

.basket:hover {
    transform: translateY(10px);
}

.authBtn{
    background-color: #fff;
    border: 0;
}


.auth{
    height: 45px;
    width: 45px;
    transition:  0.2s ease;
}

.auth:hover {
    transform: translateY(10px);
}


